/* Common styles*/
body{
	padding: 0;
	width: auto;
	font-family: "Lucida Grande", Arial, Consolas;
	font-size: 13px;
	width: 100%;
	margin: auto;
}

header{
	width: 94%;
	margin: 3%;
}

content{
	width: 100%;
}

/* Class styles*/
h1.title{
	margin: auto;
	display: block;
	text-align: center;
}

input.button{
	width:98%; 
	margin: 1%;
	font-size: 25px;
}