body{
	margin: 0;
	padding: 0;
	border: 0;
	width:100%;
}

a{
	text-decoration: none;
}

/* --------------------------------------------------------------------------------------- */

.img-pd-tx{
	width:100%;
}

.img-pd-hx{
	width:50%;
	float:left;
}

/* --------------------------------------------------------------------------------------- */
.header{height:0;}

.stuff-detail{
	background-color: #94969b;
	width:50%;
	float:left;
	height:160px;
}

.stuff-detail .stuff-item{
	color:#fff;
	padding:8px;
}

.stuff-detail .stuff-name{
	font-size:26px;
	margin-left:5px;
	margin-top: 5px;
}

.stuff-detail .stuff-artist{
	font-size:18px;
	margin: 27% 0 0 15px;
	padding: 0;
}

.stuff-detail .stuff-location{
	margin: 0 15px;
	padding: 0;
	font-size:11px;
}

/* --------------------------------------------------------------------------------------- */
.stuff-title{
	margin: 20px 20px;
	color: #333;
	font-size:23px;
}

.stuff-desc{
	margin: 20px 20px;
}

.stuff-desc p{
	line-height: 30px;
}

.stuff-menu{
	margin: 0;
	padding: 0;
}

.stuff-menu li{
	list-style: none;
	padding: 0;
	margin: 0;
	border: 0;
	float:left;
	width:50%;
	height:50px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	padding-top: 24px;
	background-color: #fff;
}

.stuff-menu li.buy{
	background-color: #333;
	color:#fff;
}

.stuff-material{}

.stuff-material li{
	line-height: 25px;
}

.stuff-step{}

.stuff-step img{
	width:100%;
}

.stuff-step h2{
	font-size:23px;
	color:#333;
	padding-left: 10px;
	margin: 5px 0;
}

.stuff-step p{
	line-height: 30px;
	padding : 0 10px;
	margin: 0 0 40px 0;
}

.stuff-artisan{
	width:100%;
	height: 65px;
	text-align: center;
	padding-top: 15px;
	background-color: #94969b;
}

.stuff-artisan a{
	color:#fff;
}

.stuff-artisan .stuff-artisan-name{
	font-size: 22px;
	color:#fff;
}

.stuff-artisan .stuff-artisan-more{
	font-size: 12px;
	color:#fff;
}

.stuff-share{
	width:100%;
	height:65px;
	text-align: center;
	padding-top:20px;
	font-size: 26px;
	background-color: #333;
	color:#fff;
}

.stuff-more{
	width:100%;
	text-align: center;
	margin: 0;
	padding:0;
	border: 0;
}

.stuff-more img{
	margin: 0;
	padding:0;
	border: 0;
	width:33.3%;
	text-align: center;
	float:left;
}

.stuff-more-hx img{
	margin: 0;
	padding:0;
	border: 0;
	width: 50%;
	text-align: center;
	float:left;
}

.artisan-name{
	margin-left: 10px;
	font-size: 26px;
	color:#333;
}

.artisan-avator, .artisan-avator img{
	margin: 0;
	padding: 0;
	width:100%;
}

.artisan-desc{
	width: 100%;
	line-height: 32px;
}

.artisan-desc p{
	padding:10px;
}

/* --------------------------------------------------------------------------------------- */
.footer-xline{
	width:100%;
	height:45px;
	display: block;
}

.footer{
	position: fixed;
	bottom:0;
	width: 100%;
}

.footer > .footer-menu{
	margin: 0;
	padding: 0;
	border: 0;
}

.footer > .footer-menu li{
	float:left;
	width:33.3%;
	height:45px;
	list-style-type: none;
	text-align: center;
	background-color: #333;
}

.footer > .footer-menu li > a{
	display:inline-block;
	color:#fff;
	margin-top: 12px;
}

.footer > .footer-menu img{
	width:20px;
}